[submodule "lerobot"]
	path = lerobot
	url = https://github.com/huggingface/lerobot.git
[submodule "LIBERO"]
	path = LIBERO
	url = https://github.com/Lifelong-Robot-Learning/LIBERO.git
[submodule "openvla_oft"]
	path = openvla_oft
	url = https://github.com/moojink/openvla-oft.git
[submodule "SimplerEnv"]
	path = SimplerEnv
	url = https://github.com/squarefk/SimplerEnv.git
[submodule "temporal_saes"]
	path = temporal_saes
	url = https://github.com/AI4LIFE-GROUP/temporal-saes.git
